<!--The whole content below can be removed with the new code.-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">This is a Angular2 form app with bootstrap4</p>
    <small>v0.1</small>
    <p><small>{{getMeData()}}</small></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Header</label>
        <input [(ngModel)]="text" [value]="searchValue" type="text" class="form-control" placeholder="Enter header">

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Content</label>
        <textarea [(ngModel)]="content" rows="10" [value]="searchValue" type="text" class="form-control" placeholder="Enter content"></textarea>

      </div>


    </div>
    <div class="col-md-6">
      <h6>Look on this :)</h6>
      <div class="card">
        <div class="card-block">
          <p><code>{{text}}</code></p>
          <p><code>{{content}}</code></p>
        </div>
      </div>
      <div class="row"></div>
      <div class="form-group has-success">
        <h6 for="exampleTextarea">Get Code:</h6>
        <textarea class="form-control" id="exampleTextarea" rows="5" #inputTarget>

      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
        <header> {{text}}</header>
     <section> {{content}}</section>
</body>
</html>
 
    </textarea>
      </div>
      <button class="btn btn-default" [ngxClipboard]="inputTarget">Copy</button>
      <button class="btn btn-default" (click)="clearSearch()">Clear</button>

    </div>
  </div>
</div>